body {
  background-color: #292929;
}

.header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-image: url(drewkeatinge.github.io\images\kanto-badges.png);
  height: 200px;
}

.header-image-1 {
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image-1 img {
  width: 70%;
}

.header-image-2 {
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image-2 img {
  width: 70%;
}

.main-header {
  font: 15px 'Press Start 2P', cursive;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 100%;
}

.main-header h1 {
  rotate: -5deg;
  color: white;
  text-shadow: 1px 1px black;
}

.sub-header {
  font: 15px 'Press Start 2P', cursive;
  text-align: center;
  width: 100%;
}

p {
  font: 12px 'Montserrat', cursive;
  color: white;
  text-shadow: 1px 1px black;
}

.dev-academy-box {
  background-color: #3a5ea9;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px yellow;
  height: 30px;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  rotate: -5deg;
  line-height: 30px;
}

.dev-academy-box p {
  margin: 0 auto;
  font-size: 1.5em;
}

@media screen and (max-width: 600px) {
  .dev-academy-box p {
    font-size: 0.8em;
  }
}

.menus {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

@media screen and (max-width: 600px) {
  .menus {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.drop-button {
  background-color: #292929;
  color: white;
  padding: 16px;
  border: none;
  width: 120px;
  font: 8px 'Press Start 2P', cursive;
  padding: 8px 6px;
}

.dropdown-menu {
  background-color: #292929;
}

.drop-button:hover {
  background-color: black;
}

.dropdown-contents {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 120px;
  box-shadow: 0px 8px 16px 0px;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .dropdown-contents {
    position: relative;
  }
}

.dropdown-contents a {
  float: none;
  color: black;
  padding: 5px 5px;
  display: block;
  text-align: left;
  font: 10px 'Montserrat', cursive;
}

.dropdown-contents a:hover {
  background-color: #ddd;
}

.dropdown-menu:hover .dropdown-contents {
  display: block;
}
